@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body main .section__one {
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #f9f8f5 100%,
    #f9f8f5 100%
  );
}

body main .section__two {
  background: #f9f8f5;
}

body main .section__three {
  background: #f9f8f5;
}

body main .section__four {
  background: #f9f8f5;
}

.garantee-box {
  box-shadow: 0 0 4px #0000000d;
}
